:root {
  --gradientBg: linear-gradient(0deg, rgba(164,176,218,1) 0%, rgba(61,76,125,1) 91%);
  --invertGradientBg: linear-gradient(176deg, rgba(164,176,218,1) 0%, rgba(61,76,125,1) 91%);
}

body {
  background-color: rgba(62, 80, 138, 0.831372549);
}

.green {
  background-color: #1dd41d;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.changeHide {
  display: none;
}

.changeHideTwo {
  display: none;
}

/*-----header---------*/
.headerSection {
  margin: 0 5%;
}
.headerSection .logoDrummer {
  width: 100px;
}

.crossUser {
  width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.crossUser .stick {
  width: 40px;
  height: 6px;
  border-radius: 2px;
  margin: 3px 0;
}

.header {
  background: var(--gradientBg);
  position: fixed;
  z-index: 3;
  width: 100%;
  /*-------NAV USER-------*/
  /*---------NAV ADMIN---------*/
}
.header .headerSection {
  position: relative;
}
.header .headerSection .navAdminPosition {
  position: absolute;
  background: var(--gradientBg);
  bottom: -270px;
  right: -19px;
}
.header .headerSection .navAdminPosition a {
  color: white;
  border: 1px solid white;
  padding: 8px 17px;
  background: var(--gradientBg);
}
.header .headerSection .navUser {
  position: absolute;
  background: var(--gradientBg);
  bottom: -218px;
  right: -19px;
}
.header .headerSection .navUser a {
  color: white;
  border: 1px solid white;
  padding: 8px 17px;
  background: var(--gradientBg);
}
.header .headerSection .closeUserBurger {
  padding: 2px 6px;
  margin-top: 1px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 28px;
}
.header .navUser {
  position: absolute;
  background-color: #3D4C7D;
  bottom: -270px;
  right: -19px;
}
.header .navUser a {
  color: white;
  border: 1px solid white;
  padding: 8px 17px;
  background: var(--gradientBg);
}
.header .navAdmin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #8692d3;
  padding-top: 5px;
  position: relative;
}
.header .navAdmin .burgerAdmin {
  position: relative;
}
.header .navAdmin span {
  font-weight: bold;
}
.header .navAdmin .closeAdminBurger {
  padding: 2px 6px;
  margin-top: 1px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 28px;
}
.header .navAdmin a {
  width: 100%;
  padding-bottom: 5px;
  color: #eeeded;
  text-align: center;
}
.header .navAdmin .stick {
  width: 30px;
  height: 4px;
  border-radius: 2px;
  margin: 4px 0;
}
.header .navAdmin .listNavAdmin {
  position: absolute;
  top: 52px;
  width: 100%;
}
.header .navAdmin .listNavAdmin li {
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 5px 0;
  text-align: center;
  background: var(--gradientBg);
}
.header .navAdmin .listNavAdmin li a:hover {
  color: black;
  font-weight: bold;
}

/*--------main------*/
.mainHomePage {
  padding-top: 64px;
  background-color: rgba(62, 80, 138, 0.831372549);
}

.adminMainHomePage {
  padding-top: 115px;
  background-color: rgba(62, 80, 138, 0.831372549);
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(62, 80, 138, 0.831372549);
}

/*----main homepage----*/
.bgTitleHomePage {
  background-image: url("../data/img/media/cymbales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}

.titleHomePage {
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  width: 282px;
  margin: 0 auto;
  -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
  padding: 25px;
  line-height: 30px;
}

.secondaryTitleContainer {
  padding: 30px;
}

.secondaryTitle {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.separationLine {
  height: 2px;
  background-color: white;
  width: 120px;
  margin: 0 auto;
}

.articleHomePage {
  width: 100%;
  max-height: 225px;
  overflow: hidden;
  text-align: center;
  padding: 20px 0 0 0;
  position: relative;
  margin-bottom: 20px;
}
.articleHomePage .pictureArticleHomepage {
  width: 90%;
  box-shadow: 0px 0px 18px 0px white;
  opacity: 60%;
}
.articleHomePage .articleTextContainer {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 240px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.articleHomePage .articleTextContainer .articleHomePageText {
  margin: 20px 0;
}
.articleHomePage .articleTextContainer .articlehomePageButton {
  border: 3px solid white;
  padding: 2px 5px;
  border-radius: 15px;
  background-color: rgba(18, 4, 4, 0.5411764706);
}

/*-----main transcriptions----*/
.bodytranscriptions h2 {
  text-align: center;
}
.bodytranscriptions .mainTranscriptions {
  width: 92%;
  margin-left: 8%;
  min-height: 84vh;
}
.bodytranscriptions .mainTranscriptions .sectionSearch {
  text-align: center;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .searchHelp {
  font-size: 13px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .searchForm {
  padding: 25px 0;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .searchForm input {
  border-radius: 10px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .cellForm {
  text-indent: 5px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .searchButton {
  padding: 0 10px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .bgTitleTranscriptions {
  background-image: url("../data/img/media/drum_red_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .bgTitleTranscriptions .titleTranscriptions {
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  width: 282px;
  margin: 0 auto;
  -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
  padding: 25px;
  line-height: 30px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background: -webkit-linear-gradient(right, rgb(164, 176, 218) 0%, rgb(61, 76, 125) 91%);
  background: linear-gradient(270deg, rgb(164, 176, 218) 0%, rgb(61, 76, 125) 91%);
  text-align: center;
  padding: 11px 11px;
  gap: 3px;
  left: 0%;
  top: 64px;
  height: 92%;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 5;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch a:nth-child(2n) {
  background-color: #32327c;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch a {
  text-transform: uppercase;
  width: 100%;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer .difficultyLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer .difficultyLink .difficultyToken {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer .difficultyLink span {
  border: 2px solid white;
  padding: 1px 6px;
  border-radius: 12px;
  background-color: #32327c;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions {
  padding: 30px 10px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions h2 {
  padding: 20px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .menuTranscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-color: #696666;
  padding: 6px 0;
  border: 2px solid white;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions article {
  border: 2px solid white;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions article:nth-child(2n) {
  background-color: #8692d3;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions article:nth-child(2n-1) {
  background-color: #696666;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  gap: 5px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span {
  text-transform: capitalize;
  font-size: 12px;
  overflow-wrap: break-word;
  max-width: 90px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription .difficultyToken {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .favoriContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .favoriContainer a {
  font-size: 12px;
  border-radius: 9px;
  background-color: #32327c;
  border: 2px solid white;
  padding: 3px 4px;
  text-align: center;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .favoriContainer .logoFavori {
  width: 15px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 80px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription .logoYoutube {
  width: 20px;
}
.bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription a {
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.bodytranscriptions .mainTranscriptions .pagination {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
}
.bodytranscriptions .mainTranscriptions .pagination span {
  color: orangered;
}
.bodytranscriptions .mainTranscriptions .pagination a {
  color: white;
}
.bodytranscriptions .mainTranscriptions .pagination .last {
  display: none;
}
.bodytranscriptions .mainTranscriptions .pagination .first {
  display: none;
}
.bodytranscriptions .mainTranscriptions .adminLinkTranscription {
  background-color: #DDDDDD;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 10px 0;
}
.bodytranscriptions .mainTranscriptions .adminLinkTranscription a {
  border: 2px solid black;
  border-radius: 14px;
  padding: 2px 6px;
}

/*------main trainings------*/
.mainTrainings {
  padding-bottom: 10%;
}
.mainTrainings .bgTitleTrainings {
  height: 140px;
  background-image: url("../data/img/media/black-white-cymbales.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}
.mainTrainings .bgTitleTrainings .titleTrainings {
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  width: 282px;
  margin: 0 auto;
  -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
  padding: 25px;
  line-height: 30px;
}
.mainTrainings .sectionTrainings .secondaryTitleContainer .secondaryTitle {
  font-size: 23px;
}
.mainTrainings .sectionTrainings .secondaryTitleContainer p {
  text-align: center;
}
.mainTrainings h2 {
  padding-top: 40px;
  text-align: center;
}
.mainTrainings article {
  padding: 0 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainTrainings article .adminLinkTraining {
  padding-top: 10px;
}
.mainTrainings article .adminLinkTraining a {
  padding: 2px 5px;
  border-radius: 15px;
}
.mainTrainings article .userTrainingLink {
  text-align: center;
}
.mainTrainings article .userTrainingLink a:nth-child(3) {
  margin-left: 8px;
  line-height: 30px;
}
.mainTrainings article .userTrainingLink .buttonDL {
  border-radius: 12px;
  background-color: rgba(118, 131, 176, 0.72);
  padding: 2px 4px;
  border: 1px solid white;
}
.mainTrainings article .userTrainingLink .trainingTitle {
  margin-top: 40px;
  gap: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}
.mainTrainings article .userTrainingLink .trainingTitle h3 {
  line-height: 150%;
  text-transform: capitalize;
}
.mainTrainings article .userTrainingLink .imgTrainingContainer {
  max-height: 30px;
  max-width: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.mainTrainings article .userTrainingLink .imgTrainingContainer img {
  width: 50px;
}
.mainTrainings article .buttonTraining {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #32327c;
  color: #DDDDDD;
  margin-top: 15px;
  padding: 2px 8px;
}
.mainTrainings article .buttonTrainingClose {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #32327c;
  color: #DDDDDD;
  margin-top: 15px;
  padding: 2px 8px;
}
.mainTrainings article p {
  text-align: justify;
  color: #DDDDDD;
}
.mainTrainings article .separationLine {
  height: 2px;
  background-color: white;
  width: 120px;
  margin: 40px auto 0;
}

/*------main news-----*/
.mainNews .bgTitleNews {
  height: 140px;
  background-image: url("../data/img/media/batteur_live.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
}
.mainNews .bgTitleNews .titleNews {
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  width: 282px;
  margin: 0 auto;
  -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
  padding: 25px;
  line-height: 30px;
}
.mainNews .sectionNews {
  padding: 0 10% 10%;
}
.mainNews .sectionNews .secondaryTitle {
  font-size: 23px;
}
.mainNews .sectionNews .descNews {
  text-align: justify;
}
.mainNews .sectionNews article {
  margin-bottom: 30px;
}
.mainNews .sectionNews article h3 {
  text-transform: capitalize;
}
.mainNews .sectionNews article span {
  line-height: 30px;
}
.mainNews .sectionNews article .imgNewsContainer {
  max-height: 150px;
  overflow: hidden;
}
.mainNews .sectionNews article .imgNewsContainer img {
  width: 200px;
}
.mainNews .sectionNews article span {
  font-size: 12px;
}
.mainNews .sectionNews article .buttonNews {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #32327c;
  color: #DDDDDD;
  margin: 10px 0;
  padding: 2px 8px;
}
.mainNews .sectionNews article .buttonNewsClose {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #32327c;
  color: #DDDDDD;
  margin: 10px 0;
  padding: 2px 8px;
}
.mainNews .sectionNews article p {
  text-align: justify;
  color: #DDDDDD;
}
.mainNews .sectionNews article a {
  padding: 2px 4px;
  border-radius: 12px;
}

/*----main profil----*/
.mainProfil .bgTitleProfil {
  background-image: url("../data/img/media/drum_red_back.jpg");
  height: 140px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainProfil .bgTitleProfil .titleProfil {
  color: white;
  font-weight: bold;
  font-size: 23px;
  font-style: italic;
  width: 282px;
  -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
  padding: 10px 0;
  line-height: 30px;
  text-transform: uppercase;
}
.mainProfil .bgTitleProfil .containerAvatarProfil {
  border-radius: 50%;
  max-height: 60px;
  max-width: 60px;
  overflow: hidden;
  border: 3px white solid;
}
.mainProfil .bgTitleProfil .containerAvatarProfil .imgAvatarProfil {
  width: 100px;
  -webkit-transform: translate(-22px, -22px);
      -ms-transform: translate(-22px, -22px);
          transform: translate(-22px, -22px);
}
.mainProfil form {
  margin: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainProfil form .inputButton {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.mainProfil form .inputUsername {
  width: 250px;
  padding: 0 5px;
  margin: 10px 0 20px;
  border-radius: 15px;
}
.mainProfil article {
  border: 2px solid white;
}
.mainProfil article:nth-child(2n) {
  background-color: #8692d3;
}
.mainProfil article:nth-child(2n-1) {
  background-color: #696666;
}
.mainProfil .transcriptionContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainProfil .transcriptionContainer .infoTranscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  gap: 5px;
}
.mainProfil .transcriptionContainer .infoTranscription span {
  text-transform: capitalize;
  font-size: 12px;
}
.mainProfil .transcriptionContainer .infoTranscription .difficultyToken {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.mainProfil .transcriptionContainer .favoriContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.mainProfil .transcriptionContainer .favoriContainer a {
  font-size: 12px;
  border-radius: 9px;
  background-color: #32327c;
  border: 2px solid white;
  padding: 3px 4px;
  text-align: center;
}
.mainProfil .transcriptionContainer .favoriContainer .logoFavori {
  width: 15px;
}
.mainProfil .transcriptionContainer .buttonTranscription {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 80px;
}
.mainProfil .transcriptionContainer .buttonTranscription .logoYoutube {
  width: 20px;
}
.mainProfil .transcriptionContainer .buttonTranscription a {
  font-size: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.mainProfil .deleteContainer {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainProfil .deleteContainer .deleteAccountButton {
  text-align: center;
  margin: 40px;
  border-radius: 15px;
  padding: 5px 6px;
}

/*------main video-----*/
.mainVideo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pdfContainer {
  height: 460px;
  width: 100%;
}

.videoContainer {
  height: 98px;
  width: 50%;
  margin: 0 auto;
}

/*-----main category-----*/
ul {
  padding-bottom: 40px;
}
ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
ul li .containerAvatarCategory {
  border-radius: 50%;
  max-height: 30px;
  max-width: 30px;
  overflow: hidden;
  border: 1px white solid;
}
ul li .containerAvatarCategory .imgAvatarCategory {
  width: 60px;
}
ul li span {
  width: 100px;
}

/*------main login-----*/
.connectionBody {
  height: 100vh;
}
.connectionBody .mainLogin {
  height: 85vh;
}
.connectionBody .mainLogin .connectionTitle {
  font-size: 28px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 0;
}
.connectionBody .mainLogin .connectionForm {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.connectionBody .mainLogin .connectionForm .connectionText {
  font-size: 22px;
  padding: 20px 0;
}
.connectionBody .mainLogin .connectionForm label {
  color: white;
  padding: 15px 0;
}
.connectionBody .mainLogin .connectionForm input {
  width: 270px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
}
.connectionBody .mainLogin .connectionForm button {
  padding: 4px;
  margin-top: 15px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
}

/*------main register-----*/
.registerBody {
  max-height: 100vh;
}
.registerBody .mainRegister h1 {
  font-size: 28px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 30px 0;
}
.registerBody .mainRegister form {
  min-height: 64vh;
}
.registerBody .mainRegister form div {
  margin: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.registerBody .mainRegister form div ul li {
  color: red;
}
.registerBody .mainRegister form div label {
  color: white;
  padding: 15px 0 15px 15px;
}
.registerBody .mainRegister form div input {
  width: 200px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}
.registerBody .mainRegister form div #registration_form_imgProfil {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.registerBody .mainRegister form div #registration_form_agreeTerms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 20%;
}
.registerBody .mainRegister form div button {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.registerBody .mainRegister form div:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.registerBody .mainRegister form div:nth-child(4) label {
  width: 100%;
}
.registerBody .mainRegister form div:nth-child(4) input {
  width: 100%;
  padding-left: 15px;
  max-width: 100vw;
}

/*------main CGU-----*/
.mainCGU {
  padding-top: 64px;
}
.mainCGU h1 {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
.mainCGU article {
  margin: 30px 5%;
}

/*-------footer-----*/
.footer {
  background: var(--gradientBg);
  bottom: 0px;
  width: 100%;
}
.footer nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.footer nav a {
  background: var(--gradientBg);
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 8px;
}
.footer nav span {
  background: var(--gradientBg);
  border: 1px solid white;
  text-align: center;
  color: white;
  padding: 8px;
}

/*--------ADMIN PART-------*/
/*-----main modifyRoles----*/
.mainRoles {
  min-height: 84vh;
}
.mainRoles h1 {
  width: 100%;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}
.mainRoles table {
  padding-top: 50px;
  margin: 0 1%;
}
.mainRoles table .userModify {
  overflow-wrap: break-word;
  max-width: 160px;
  padding: 10px 15px 10px 10px;
}
.mainRoles table input {
  border-radius: 15px;
  padding: 2px 4px;
}

/*-------main addTranscription------*/
.mainAddTranscription {
  min-height: 84vh;
}
.mainAddTranscription h1 {
  padding-top: 15px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
.mainAddTranscription form #transcriptions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddTranscription form #transcriptions div {
  margin: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainAddTranscription form #transcriptions div label {
  color: white;
  padding: 15px 0 15px 15px;
}
.mainAddTranscription form #transcriptions div input {
  width: 200px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}
.mainAddTranscription form #transcriptions div button {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.mainAddTranscription form #transcriptions div select {
  margin-right: 20%;
  padding: 3px 5px;
}
.mainAddTranscription form #transcriptions div:nth-child(5) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddTranscription form #transcriptions div:nth-child(5) label {
  width: 100%;
}
.mainAddTranscription form #transcriptions div:nth-child(5) input {
  width: 100%;
  padding-left: 15px;
  max-width: 100vw;
}

/*-----main addCategory-----*/
.mainCategory {
  min-height: 84vh;
}
.mainCategory h1 {
  font-size: 28px;
  text-align: center;
}
.mainCategory form #categories {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainCategory form #categories div {
  margin: 2px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainCategory form #categories div label {
  color: white;
  padding: 15px 0 15px 15px;
}
.mainCategory form #categories div input {
  width: 200px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}
.mainCategory form #categories div button {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.mainCategory form #categories div:nth-child(2) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainCategory form #categories div:nth-child(2) label {
  width: 100%;
}
.mainCategory form #categories div:nth-child(2) input {
  width: 100%;
  padding-left: 15px;
  max-width: 100vw;
}
.mainCategory h2 {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}
.mainCategory ul li {
  margin: 0 2% 10px;
}
.mainCategory ul li a {
  padding: 1px 5px;
  border-radius: 15px;
}

/*-----main addTraining-----*/
.mainAddTraining {
  min-height: 84vh;
}
.mainAddTraining h1 {
  font-size: 28px;
  text-align: center;
}
.mainAddTraining form #trainings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddTraining form #trainings div {
  margin: 2px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainAddTraining form #trainings div label {
  color: white;
  padding: 15px 0 15px 15px;
}
.mainAddTraining form #trainings div input {
  width: 200px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}
.mainAddTraining form #trainings div button {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.mainAddTraining form #trainings div select {
  margin-right: 20%;
  padding: 3px 5px;
}
.mainAddTraining form #trainings div textarea {
  border-radius: 10px;
  padding-left: 5px;
  margin-right: 15px;
}
.mainAddTraining form #trainings div:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddTraining form #trainings div:nth-child(4) label {
  width: 100%;
}
.mainAddTraining form #trainings div:nth-child(4) input {
  width: 100%;
  padding-left: 15px;
  max-width: 100vw;
}

/*-----main addNews-----*/
.mainAddNews {
  min-height: 84vh;
}
.mainAddNews h1 {
  font-size: 28px;
  text-align: center;
}
.mainAddNews form #news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddNews form #news div {
  margin: 2px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainAddNews form #news div label {
  color: white;
  padding: 15px 0 15px 15px;
}
.mainAddNews form #news div input {
  width: 200px;
  border-radius: 15px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
  margin-right: 15px;
}
.mainAddNews form #news div button {
  padding: 4px;
  width: 100px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  background: var(--gradientBg);
  border-color: midnightblue;
  color: #ded8d8;
  margin: 15px auto;
}
.mainAddNews form #news div select {
  margin-right: 20%;
  padding: 3px 5px;
}
.mainAddNews form #news div textarea {
  border-radius: 10px;
  padding-left: 5px;
  margin-right: 15px;
}
.mainAddNews form #news div:nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainAddNews form #news div:nth-child(4) label {
  width: 100%;
}
.mainAddNews form #news div:nth-child(4) input {
  width: 100%;
  padding-left: 15px;
  max-width: 100vw;
}

@media screen and (min-width: 425px) {
  /*-----transcriptions mediaScreen-----*/
  .letterSearch {
    width: 8%;
    padding: 11px 2%;
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription {
    width: 33%;
  }

  .favoriContainer {
    width: 33%;
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription {
    width: 33%;
  }

  /*-----news mediaScreen-----*/
  .changeHide {
    margin-top: 40px;
    display: block;
  }

  .buttonTraining {
    display: none;
  }

  .mainTrainings .sectionTrainings .secondaryTitleContainer .secondaryTitle {
    font-size: 30px;
  }

  .mainTrainings article .userTrainingLink .trainingTitle h3 {
    font-size: 25px;
    line-height: 230%;
  }

  .mainTrainings article .userTrainingLink .imgTrainingContainer {
    max-height: 60px;
    max-width: 60px;
  }

  .mainTrainings article .userTrainingLink .imgTrainingContainer img {
    width: 100px;
  }

  /*-----trainings mediaScreen-----*/
  .buttonNews {
    display: none;
  }

  .mainNews .sectionNews article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .textNewsDesk {
    padding: 20px 20px 20px 100px;
    text-align: justify;
    text-transform: capitalize;
  }

  /*-----Register mediaScreen-----*/
  .registerBody .mainRegister form div {
    margin: 15px 100px;
    font-size: 20px;
  }

  .registerBody .mainRegister form div #registration_form_agreeTerms {
    margin-right: 39%;
  }

  .registerBody .mainRegister form {
    height: 70vh;
  }

  /*-----Login mediaScreen-----*/
  .connectionBody .mainLogin .connectionForm button {
    margin-top: 40px;
  }

  /*-----Profil mediaScreen-----*/
  .mainProfil form {
    font-size: 20px;
  }

  /*-----main addNews mediaScreen-----*/
  .mainAddNews form {
    margin: 50px 10% 0;
    font-size: 20px;
  }

  /*-----main addTraining mediaScreen-----*/
  .mainAddTraining form {
    margin: 50px 10% 0;
    font-size: 20px;
  }

  .mainTrainings article p {
    padding-top: 40px;
  }

  /*-----main addCategory mediaScreen-----*/
  .mainCategory form {
    margin: 50px 10% 0;
    font-size: 20px;
  }
  .mainCategory ul {
    padding: 0 10% 40px;
  }
  .mainCategory ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
  .mainCategory ul li .containerAvatarCategory {
    border-radius: 50%;
    max-height: 30px;
    max-width: 30px;
    overflow: hidden;
    border: 1px white solid;
  }
  .mainCategory ul li .containerAvatarCategory .imgAvatarCategory {
    width: 60px;
  }
  .mainCategory ul li span {
    width: 100px;
  }

  /*-----main addTranscription mediaScreen-----*/
  .mainAddTranscription form {
    margin: 50px 10% 0;
    font-size: 20px;
  }

  /*----main ModifyRoles mediaScreen-------*/
  .mainRoles form {
    margin: 0 10px;
  }
  .mainRoles .changeHideTwo {
    display: block;
  }

  /*------main video-----*/
  .pdfContainer {
    height: 460px;
    width: 100%;
  }

  .videoContainer {
    width: 100%;
    height: 166px;
    padding: 0 31%;
    margin: 0 auto -1%;
  }
}
@media screen and (min-width: 769px) {
  /*---homePage---*/
  .titleHomePage {
    font-size: 42px;
    width: 600px;
    line-height: 60px;
  }

  .secondaryTitleContainer h2 {
    font-size: 31px;
    margin: 25px auto;
  }

  .articleTextContainer h3 {
    font-size: 25px;
  }

  .mainHomePageDesk {
    padding-bottom: 2%;
  }

  .articleHomePage {
    margin-bottom: 80px;
  }

  .articleHomePage .imgLeft {
    width: 30%;
    -webkit-transform: translate(-60%, 1%);
        -ms-transform: translate(-60%, 1%);
            transform: translate(-60%, 1%);
  }

  .articleHomePage .imgRight {
    width: 30%;
    -webkit-transform: translate(60%, 1%);
        -ms-transform: translate(60%, 1%);
            transform: translate(60%, 1%);
  }

  .articleHomePage .left {
    top: 14%;
    right: 65%;
    width: 240px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .articleHomePage .right {
    top: 14%;
    right: 18%;
    width: 240px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .articleHomePage .articleTextContainer .articlehomePageButton:hover {
    border: 3px solid rgba(18, 4, 4, 0.5411764706);
    padding: 2px 5px;
    border-radius: 15px;
    background-color: white;
    color: rgba(18, 4, 4, 0.5411764706);
  }

  .sectionHomePage .changeHide {
    display: none;
  }

  /*---transcriptions----*/
  .bodytranscriptions .mainTranscriptions .sectionSearch .bgTitleTranscriptions .titleTranscriptions {
    font-size: 42px;
    width: 600px;
    line-height: 60px;
    padding: 70px;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch a {
    text-transform: uppercase;
    width: 100%;
  }
  .bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch a:hover {
    color: #11f311;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer .difficultyLink span:hover {
    border: 2px solid rgba(18, 4, 4, 0.5411764706);
    background-color: white;
    color: rgba(18, 4, 4, 0.5411764706);
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .favoriContainer a:hover {
    border: 2px solid rgba(18, 4, 4, 0.5411764706);
    background-color: white;
    color: black;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch {
    position: inherit;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    background: inherit;
    margin: 20px auto;
    width: 90%;
  }

  .bodytranscriptions .mainTranscriptions {
    margin-left: 0;
    width: 100%;
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions {
    padding: 30px 100px;
  }

  .mainTranscriptions {
    font-size: 18px;
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span {
    font-size: 15px;
  }
  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span:hover {
    color: black;
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription a {
    font-size: 15px;
  }
  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription a:hover {
    color: black;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .cellForm {
    width: 250px;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm input {
    padding: 5px;
    border-radius: 15px;
  }

  .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .searchButton {
    padding: 4px 10px;
    background: var(--gradientBg);
    color: white;
    text-transform: capitalize;
  }
  .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .searchButton:hover {
    background: var(--invertGradientBg);
  }

  .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span {
    max-width: 450px;
  }

  /*-----trainings-----*/
  .mainTrainings .bgTitleTrainings {
    height: 100%;
  }
  .mainTrainings .bgTitleTrainings .titleTrainings {
    font-size: 42px;
    width: 600px;
    line-height: 60px;
    padding: 70px;
  }

  .mainTrainings .sectionTrainings .secondaryTitleContainer .secondaryTitle {
    font-size: 35px;
  }

  .mainTrainings .sectionTrainings .secondaryTitleContainer p {
    font-size: 22px;
    max-width: 800px;
    margin: 0 auto;
  }

  .mainTrainings article .userTrainingLink .buttonDL {
    border: 1px solid white;
    border-radius: 12px;
    background-color: rgba(118, 131, 176, 0.72);
    padding: 2px 4px;
  }
  .mainTrainings article .userTrainingLink .buttonDL:hover {
    border: 1px solid rgb(47, 82, 192);
    background-color: white;
    color: rgb(47, 82, 192);
  }

  .mainTrainings article p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
  }

  /*-----news----*/
  .mainNews .bgTitleNews {
    height: 100%;
  }
  .mainNews .bgTitleNews .titleNews {
    font-size: 42px;
    width: 600px;
    line-height: 60px;
    padding: 70px;
  }

  .mainNews .sectionNews .secondaryTitle {
    font-size: 35px;
  }

  .mainNews .sectionNews .descNews {
    font-size: 22px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .mainNews .sectionNews article {
    padding: 40px 200px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .mainNews .sectionNews article h3 {
    font-size: 25px;
  }

  .mainNews .sectionNews article p {
    font-size: 22px;
  }

  /*-----profil------*/
  .mainProfil {
    min-height: 88vh;
  }
  .mainProfil form {
    font-size: 28px;
  }
  .mainProfil form .inputUsername {
    width: 300px;
    height: 30px;
    text-align: center;
  }
  .mainProfil form .inputButton {
    padding: 4px 10px;
    background: var(--gradientBg);
    color: white;
    text-transform: capitalize;
  }
  .mainProfil form .inputButton:hover {
    background: var(--invertGradientBg);
  }

  .mainProfil .bgTitleProfil {
    height: 100%;
  }
  .mainProfil .bgTitleProfil .titleProfil {
    font-size: 42px;
    width: 600px;
    line-height: 60px;
    padding: 70px;
  }

  .mainProfil .deleteContainer {
    padding: 40px;
  }

  .mainProfil article {
    margin: 0 200px;
  }

  .mainProfil .transcriptionContainer .infoTranscription {
    width: 33%;
  }

  .mainProfil .transcriptionContainer .buttonTranscription {
    width: 33%;
  }

  .mainProfil .transcriptionContainer .favoriContainer a:hover {
    border: 2px solid rgba(18, 4, 4, 0.5411764706);
    background-color: white;
    color: black;
  }

  .mainProfil article .transcriptionContainer .infoTranscription span {
    font-size: 15px;
  }
  .mainProfil article .transcriptionContainer .infoTranscription span:hover {
    font-size: 20px;
  }

  .mainProfil article .transcriptionContainer .buttonTranscription a {
    font-size: 15px;
  }
  .mainProfil article .transcriptionContainer .buttonTranscription a:hover {
    font-size: 20px;
  }

  /*------login-----*/
  .connectionBody .mainLogin {
    min-height: 88vh;
  }

  /*---modifyRole----*/
  .mainRoles {
    min-height: 88vh;
  }

  /*---addTranscription----*/
  .mainAddTranscription {
    min-height: 88vh;
  }

  .mainAddTranscription form {
    margin: 50px 25% 0;
  }

  /*----addCategory----*/
  .mainCategory form {
    margin: 50px 25% 0;
  }

  /*----addTraining-----*/
  .mainAddTraining {
    min-height: 88vh;
  }

  .mainAddTraining form {
    margin: 50px 25% 0;
  }

  /*----addNews-----*/
  .mainAddNews {
    min-height: 88vh;
  }

  .mainAddNews form {
    margin: 50px 25% 0;
  }

  .adminButtonNews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .adminButtonNews a {
    margin: 15px;
    width: 80px;
    text-align: center;
  }

  /*-----main register-----*/
  .mainRegister {
    min-height: 88vh;
  }

  .mainRegister form {
    margin: 50px 25% 0;
  }

  /*-----main video-----*/
  .mainVideo {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .pdfContainer {
    width: 74%;
    margin-bottom: 14%;
    height: 600px;
  }

  .videoContainer {
    height: 480px;
    margin-bottom: 22%;
    padding: 0;
  }

  /*------footer------*/
  .footer nav {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
    -webkit-flex-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer nav a {
    width: inherit;
    padding: 30px 0;
    font-size: 22px;
  }
  .footer nav a:hover {
    background: var(--invertGradientBg);
  }
  .footer nav span {
    width: inherit;
    padding: 10px 0;
    font-size: 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  /*------header-----*/
  .header .navUser a:hover, .header .navAdminPosition a:hover, .header .navAdmin a:hover, .header .navDesk a:hover {
    background: var(--invertGradientBg);
  }

  .header .headerSection .navUser a {
    border-bottom: none;
    border-top: none;
    border-width: 1px;
    -webkit-border-image: -webkit-linear-gradient(top, white, rgba(0, 0, 0, 0)) 1 100%;
            border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
  }
}
