*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
}
.statut-hide{
  display: none;
}
.justCenter{
  justify-content: center;
}
.justBetween{
  justify-content:space-between;
}
.justAround{
  justify-content:space-around;
}
.justEvenly{
  justify-content:space-evenly;
}
.alignCenter{
  align-items: center;
}
.flexColumn{
  flex-direction: column;
}
.alignEnd{
  align-items: flex-end;
}
.justEnd{
  justify-content: flex-end;
}
.textBlack{
  color: black;
}
.textWhite{
  color:white;
}
.backBlack{
  background-color:black;
}
.textOrange{
  color:darkorange;
}
.textRed{
  color: #f50505;
}
.backWhite{
  background-color:white;
}
.wrap{
  flex-wrap: wrap;
}
.textCenter{
  text-align: center;
}
.navDesk{
  display: none;
}
.headerAvatarContainer{
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto 15px;
  .headerAvatar{
    width: 100px;
    transform: translate(-19%, -19%);
  }
}
@media screen and(min-width: 769px){
  .header{
    .headerSection{
      .navDesk{
        display: flex;
        width: 90%;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 17%;
          padding: 21px 0;
          font-size: 20px;
          }
        .statut-hide{
          display: block;
        }
      }
      .crossUser{
        display: none;
      }
      .navAdminPosition, {
        position: initial;
        flex-direction: row;
        }
      .headerAvatarContainer{
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto 15px;
        .headerAvatar{
          width: 80px;
          transform: translate(-9px, -9px);
        }
      }
      .navUser{
        position: initial;
        flex-direction: row;
      }

    }
  }
}
