:root{
    --gradientBg: linear-gradient(0deg, rgba(164,176,218,1) 0%, rgba(61,76,125,1) 91%);
    --invertGradientBg: linear-gradient(176deg, rgba(164,176,218,1) 0%, rgba(61,76,125,1) 91%);
}

@mixin linkNav{
    color: white;
    border: 1px solid white;
    padding: 8px 17px;
    background: var(--gradientBg);
}

@mixin footerLink{
    background: var(--gradientBg);
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 8px;
}

@mixin bgTitle{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
}
@mixin infoTitle{
    color: white;
    font-weight: bold;
    font-size: 23px;
    font-style: italic;
    width: 282px;
    margin: 0 auto;
    -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
    padding: 25px;
    line-height: 30px;
}
@mixin validateButton{
    width: 230px;
    border-radius: 15px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    margin-right: 15px;
}
@mixin buttonAdmin{
    padding: 4px;
    width: 100px;
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    background: var(--gradientBg);
    border-color: midnightblue;
    color: #ded8d8;
    margin: 15px auto;
}
body{
    background-color: #3e508ad4;
}
.green{
    background-color: #1dd41d;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}
.changeHide{
    display: none;
}
.changeHideTwo{
    display: none;
}

/*-----header---------*/
.headerSection{
    margin: 0 5%;
    .logoDrummer{
        width: 100px;
    }
}
.crossUser{
    .stick{
        width: 40px;
        height: 6px;
        border-radius: 2px;
        margin: 6px 0;
    }
}

.header{
    background: var(--gradientBg);
    position: fixed;
    z-index: 3;
    width: 100%;
/*-------NAV USER-------*/
    .headerSection{
        position: relative;
        .navAdminPosition{
            position: absolute;
            background: var(--gradientBg);
            bottom: -270px;
            right: -19px;
            a{
                @include linkNav;
            }
        }
        .navUser{
            position: absolute;
            background: var(--gradientBg);
            bottom: -218px;
            right: -19px;
            a{
                @include linkNav;
            }
        }

        .closeUserBurger{
            padding: 2px 6px;
            margin-top: 1px;
            margin-bottom: 5px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            border-radius: 28px;
        }
    }
        .navUser{
            position: absolute;
            background-color: #3D4C7D;
            bottom: -270px;
            right: -19px;
            a{
                @include linkNav;
            }
        }
    /*---------NAV ADMIN---------*/
        .navAdmin{
            display: flex;
            flex-direction: column;
            background-color: #8692d3;
            padding-top: 5px;
            position: relative;
                .burgerAdmin{
                    position: relative;
                }
                span{
                    font-weight: bold;
                }
                .closeAdminBurger{
                    padding: 2px 6px;
                    margin-top: 1px;
                    margin-bottom: 5px;
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                    border-radius: 28px;
                }
                a{
                    width: 100%;
                    padding-bottom: 5px;
                    color: #eeeded;
                    text-align: center;
                }
                .stick{
                    width: 30px;
                    height: 4px;
                    border-radius: 2px;
                    margin: 4px 0;
                }
                .listNavAdmin{
                    position: absolute;
                    top: 52px;
                    width: 100%;
                        li{
                            width: 100%;
                            border-top: 1px solid white;
                            border-bottom: 1px solid white;
                            padding: 5px 0;
                            text-align: center;
                            background: var(--gradientBg);
                                a{
                                    &:hover{
                                        color: black;
                                        font-weight: bold;
                                    }
                                }
                        }
                }
        }

    }

/*--------main------*/

.mainHomePage{
    padding-top: 64px;
    background-color: #3e508ad4;
}
.adminMainHomePage{
    padding-top: 115px;
    background-color: #3e508ad4;
    align-items: center;
    background-color: rgba(62, 80, 138, 0.831372549);
}

/*----main homepage----*/

.bgTitleHomePage{
    background-image: url("../data/img/media/cymbales.jpg");
    @include bgTitle;
}
.titleHomePage{
    @include infoTitle;
}
.secondaryTitleContainer{
    padding: 30px;
}
.secondaryTitle{
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.separationLine{
    height: 2px;
    background-color: white;
    width: 120px;
    margin: 0 auto;
}
.articleHomePage{
    width: 100%;
    max-height: 225px;
    overflow: hidden;
    text-align: center;
    padding: 20px 0 0 0;
    position: relative;
    margin-bottom: 20px;
    .pictureArticleHomepage{
        width: 90%;
        box-shadow: 0px 0px 18px 0px white;
        opacity: 60%;
    }
    .articleTextContainer{
        position: absolute;
        top: 50%;
        right: 50%;
        width: 240px;
        transform: translate(50%, -50%);
        .articleHomePageText{
            margin: 20px 0;
        }
        .articlehomePageButton{
            border: 3px solid white;
            padding: 2px 5px;
            border-radius: 15px;
            background-color: #1204048a;
        }
    }
}

/*-----main transcriptions----*/
.bodytranscriptions{
    h2{
        text-align: center;
    }
    .mainTranscriptions{
        width: 92%;
        margin-left: 8%;
        min-height: 84vh;
        .sectionSearch{
            text-align: center;
            .searchHelp{
                font-size: 10px;
            }
            .searchForm{
                padding:25px 0;
                input{
                    border-radius: 10px;
                }
                .cellForm{
                    text-indent: 5px;
                }
                .searchButton{
                    padding: 0 10px;
                }
            }
            .bgTitleTranscriptions{
                background-image: url("../data/img/media/drum_red_back.jpg");
                @include bgTitle;
                .titleTranscriptions{
                    @include infoTitle;
                }
            }
            .letterSearch{
                display: flex;
                flex-direction: column;
                position: fixed;
                background: linear-gradient(270deg, rgb(164, 176, 218) 0%, rgb(61, 76, 125) 91%);
                text-align: center;
                padding: 11px 11px;
                gap: 3px;
                left: 0%;
                top: 64px;
                height: 92%;
                justify-content: space-evenly;
                z-index: 5;
                a:nth-child(2n){
                    background-color: #32327c;
                }
                a{
                    text-transform: uppercase;
                    width: 100%;
                }
            }

            .difficultyLinkContainer{
                display: flex;
                justify-content: space-evenly;
                .difficultyLink{
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    .difficultyToken{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    span{
                        border: 2px solid white;
                        padding: 1px 6px;
                        border-radius: 12px;
                        background-color: #32327c;
                    }
                }
            }
        }
        .listTranscriptions{
            padding: 30px 10px;
            h2{
                padding: 20px;
            }
            .menuTranscription{
                display: flex;
                justify-content: space-around;
                background-color: #696666;
                padding: 6px 0;
                border: 2px solid white;
            }
            article{
                border: 2px solid white;
            }
            article:nth-child(2n){
                background-color: #8692d3;
            }
            article:nth-child(2n-1){
                background-color: #696666;
            }
            .transcriptionContainer{
                display: flex;
                justify-content: space-between;
                padding: 10px 5px;
                align-items: center;
                .infoTranscription{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 80px;
                    gap: 5px;
                    span{
                        text-transform: capitalize;
                        font-size: 12px;
                        overflow-wrap: break-word;
                        max-width: 90px;
                    }
                    .difficultyToken{
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
                .favoriContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    a{
                        font-size: 12px;
                        border-radius: 9px;
                        background-color: #32327c;
                        border: 2px solid white;
                        padding: 3px 4px;
                        text-align: center;
                    }
                    .logoFavori{
                        width: 15px;
                    }
                }
                .buttonTranscription{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    width: 80px;
                    .logoYoutube{
                        width: 20px;
                    }
                    a{
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }
            }
        }
        .pagination{
            margin: 0 auto;
            width: fit-content;
            padding: 15px;
            span{
                color: orangered;
            }
            a{
                color: white;
            }
            .last{
                display: none;
            }
            .first{
                display: none;
            }
        }
        .adminLinkTranscription{
            background-color: #DDDDDD;
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
            a{
                border: 2px solid black;
                border-radius: 14px;
                padding: 2px 6px;
            }
        }
    }
}

/*------main trainings------*/

.mainTrainings{
    padding-bottom: 10%;
    .bgTitleTrainings{
        height: 140px;
        background-image: url("../data/img/media/black-white-cymbales.jpg");
        @include bgTitle;
        .titleTrainings{
            @include infoTitle;
        }
    }
    .sectionTrainings{
        .secondaryTitleContainer{
            .secondaryTitle{
                font-size: 23px;
            }
            p{
                text-align: center;
            }
        }
    }
    h2{
        padding-top: 40px;
        text-align: center;
    }
    article{
        padding: 0 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .adminLinkTraining{
            padding-top: 10px;
            a{
                padding: 2px 5px;
                border-radius: 15px;
            }
        }
        .userTrainingLink{
            text-align: center;
            a:nth-child(3){
                margin-left: 8px;
                line-height: 30px;
            }
            .buttonDL{
                border-radius: 12px;
                background-color: rgb(118 131 176 / 72%);
                padding: 2px 4px;
                border: 1px solid white;
            }
            .trainingTitle{
                margin-top: 40px;
                gap: 15px;
                display: flex;
                padding-bottom: 5px;
                h3{
                    line-height: 150%;
                    text-transform: capitalize;
                }
            }
            .imgTrainingContainer{
                max-height: 30px;
                max-width: 30px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 50px;
                }
            }
        }
        .buttonTraining {
            border: 2px solid white;
            border-radius: 10px;
            background-color: #32327c;
            color: #DDDDDD;
            margin-top: 15px;
            padding: 2px 8px;
        }
        .buttonTrainingClose{
            border: 2px solid white;
            border-radius: 10px;
            background-color: #32327c;
            color: #DDDDDD;
            margin-top: 15px;
            padding: 2px 8px;
        }
        p{
            text-align: justify;
            color: #DDDDDD;
        }
        .separationLine{
            height: 2px;
            background-color: white;
            width: 120px;
            margin: 40px auto 0;
        }
    }
}
/*------main news-----*/

.mainNews{
    .bgTitleNews {
        height: 140px;
        background-image: url("../data/img/media/batteur_live.jpg");
        @include bgTitle;

        .titleNews {
            @include infoTitle;
        }
    }
    .sectionNews{
        padding: 0 10% 10%;
        .secondaryTitle{
            font-size: 23px;
        }
        .descNews{
            text-align: justify;
        }
        article{
            margin-bottom: 30px;
            h3{
                text-transform: capitalize;
            }
            span{
                line-height: 30px;
            }
            .imgNewsContainer{
                max-height: 150px;
                overflow: hidden;
                img{
                    width: 200px;
                }
            }
            span{
                font-size: 12px;
            }
            .buttonNews {
                border: 2px solid white;
                border-radius: 10px;
                background-color: #32327c;
                color: #DDDDDD;
                margin: 10px 0;
                padding: 2px 8px;

            }
            .buttonNewsClose{
                border: 2px solid white;
                border-radius: 10px;
                background-color: #32327c;
                color: #DDDDDD;
                margin: 10px 0;
                padding: 2px 8px;
            }
            p{
                text-align: justify;
                color: #DDDDDD;
            }
            a{
                padding: 2px 4px;
                border-radius: 12px;
            }
        }
    }
}

/*----main profil----*/

.mainProfil{
    .bgTitleProfil{
        background-image: url("../data/img/media/drum_red_back.jpg");
        height: 140px;
        display: flex;
        @include bgTitle;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .titleProfil{
            color: white;
            font-weight: bold;
            font-size: 23px;
            font-style: italic;
            width: 282px;
            -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
            padding: 10px 0;
            line-height: 30px;
            text-transform: uppercase;
        }
        .containerAvatarProfil{
            border-radius: 50%;
            max-height: 60px;
            max-width: 60px;
            overflow: hidden;
            border: 3px white solid;
            .imgAvatarProfil{
                width: 100px;
                transform: translate(-22px, -22px);         }
        }
    }
    form{
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .inputButton{
            @include buttonAdmin;
        }
        .inputUsername{
            width: 250px;
            padding: 0 5px;
            margin: 10px 0 20px;
            border-radius: 15px;
        }
    }
    article{
        border: 2px solid white;
    }
    article:nth-child(2n){
        background-color: #8692d3;
    }
    article:nth-child(2n-1){
        background-color: #696666;
    }
    .transcriptionContainer{
        display: flex;
        justify-content: space-between;
        padding: 10px 5px;
        align-items: center;
        .infoTranscription{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80px;
            gap: 5px;
            span{
                text-transform: capitalize;
                font-size: 12px;
            }
            .difficultyToken{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .favoriContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            a{
                font-size: 12px;
                border-radius: 9px;
                background-color: #32327c;
                border: 2px solid white;
                padding: 3px 4px;
                text-align: center;
            }
            .logoFavori{
                width: 15px;
            }
        }
        .buttonTranscription{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            width: 80px;
            .logoYoutube{
                width: 20px;
            }
            a{
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }
    .deleteContainer{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .deleteAccountButton{
            text-align: center;
            margin: 40px;
            border-radius: 15px;
            padding: 5px 6px;
        }
    }
}

/*------main video-----*/
.mainVideo{
    flex-direction: column-reverse;
    display: flex;
}

.pdfContainer {
    height: 460px;
    width: 100%;
}

.videoContainer {
    height: 98px;
    width: 50%;
    margin: 0 auto;
}

/*------main login-----*/
.connectionBody{
    height: 100vh;
    .mainLogin{
        height: 85vh;
        .connectionTitle{
            font-size: 28px;
            margin: auto;
            width: fit-content;
            padding: 30px 0;
        }
        .connectionForm{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .connectionText{
                font-size: 22px;
                padding: 20px 0;
            }
            label{
                color: white;
                padding: 15px 0;
            }
            input{
                width: 270px;
                border-radius: 15px;
                height: 30px;
                font-size: 15px;
                padding-left: 10px;
            }
            button{
                padding: 4px;
                margin-top: 15px;
                width: 100px;
                border-radius: 14px;
                font-weight: bold;
                font-size: 16px;
                background: var(--gradientBg);
                border-color: midnightblue;
                color: #ded8d8;
            }
        }
    }
}

/*------main register-----*/
.registerBody{
    max-height: 100vh;
    .mainRegister {
        h1 {
            font-size: 28px;
            margin: auto;
            width: fit-content;
            padding: 30px 0;
        }
        form{
            height: 64vh;
            div{
                margin: 15px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    li{
                        color: red;
                    }
                }
                label{
                    color: white;
                    padding: 15px 0 15px 15px;
                }
                input{
                    @include validateButton;
                }
                #registration_form_imgProfil{
                    display: flex;
                    flex-direction: column;
                }
                #registration_form_agreeTerms{
                    width: fit-content;
                    margin-right: 20%;
                }
                button{
                    @include buttonAdmin;
                }
            }
            div:nth-child(4){
                flex-direction: column;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    max-width: 100vw;
                }
            }
        }
    }
}

/*------main CGU-----*/

.mainCGU{
    padding-top: 64px;
    h1{
        text-align: center;
        margin-bottom: 30px;
        padding-top: 30px;
    }
    article{
        margin: 30px 5%;
    }
}


/*-------footer-----*/

.footer{
    background: var(--gradientBg);
    bottom: 0px;
    width: 100%;
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
            @include footerLink;
        }

        span {
            @include footerLink;
        }
    }
}



/*--------ADMIN PART-------*/

/*-----main modifyRoles----*/

.mainRoles{
    min-height: 84vh;
    h1{
        width: 100%;
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
    }
    table{
        padding-top: 50px;
        margin: 0 1%;
        .userModify{
            overflow-wrap: break-word;
            max-width: 160px;
            padding: 10px 15px 10px 10px;
        }
        input{
            border-radius: 15px;
            padding: 2px 4px;
        }
    }
}

/*-------main addTranscription------*/

.mainAddTranscription{
    min-height: 84vh;
    h1{
        padding-top: 15px;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
    }
    form{
        #transcriptions{
            display: flex;
            flex-direction: column;
            div{
                margin: 5px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                label{
                    color: white;
                    padding: 15px 0 15px 15px;
                }
                input{
                    @include validateButton;
                }
                button{
                    @include buttonAdmin
                }
                select{
                    margin-right: 20%;
                    padding: 3px 5px;
                }
            }
            div:nth-child(5){
                flex-direction: column;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    max-width: 100vw;
                }
            }
        }
    }
}

/*-----main addCategory-----*/

.mainCategory{
    min-height: 84vh;
    h1{
        font-size: 28px;
        text-align: center;
    }
    form{
        #categories{
            display: flex;
            flex-direction: column;
            div{
                margin: 2px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                label{
                    color: white;
                    padding: 15px 0 15px 15px;
                }
                input{
                    @include validateButton;
                }
                button{
                    @include buttonAdmin
                }
            }
            div:nth-child(2){
                flex-direction: column;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    max-width: 100vw;
                }
            }
        }
    }
    h2{
        font-size: 20px;
        text-align: center;
        margin: 30px 0;
    }
    ul{
        li{
            margin-left: 5%;
            margin-bottom: 10px;
           a{
               padding: 1px 5px;
               border-radius: 15px;
           }
        }
    }
}

/*-----main addTraining-----*/

.mainAddTraining{
    min-height: 84vh;
    h1{
        font-size: 28px;
        text-align: center;
    }
    form{
        #trainings{
            display: flex;
            flex-direction: column;
            div{
                margin: 2px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                label{
                    color: white;
                    padding: 15px 0 15px 15px;
                }
                input{
                    @include validateButton;
                }
                button{
                    @include buttonAdmin
                }
                select{
                    margin-right: 20%;
                    padding: 3px 5px;
                }
                textarea{
                    border-radius: 10px;
                    padding-left: 5px;
                    margin-right: 15px;
                }
            }
            div:nth-child(4){
                flex-direction: column;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    max-width: 100vw;
                }
            }
        }
    }
}

/*-----main addNews-----*/

.mainAddNews{
    min-height: 84vh;
    h1{
        font-size: 28px;
        text-align: center;
    }
    form{
        #news{
            display: flex;
            flex-direction: column;
            div{
                margin: 2px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                label{
                    color: white;
                    padding: 15px 0 15px 15px;
                }
                input{
                    @include validateButton;
                }
                button{
                    @include buttonAdmin
                }
                select{
                    margin-right: 20%;
                    padding: 3px 5px;
                }
                textarea{
                    border-radius: 10px;
                    padding-left: 5px;
                    margin-right: 15px;
                }
            }
            div:nth-child(4){
                flex-direction: column;
                label{
                    width: 100%;
                }
                input{
                    width: 100%;
                    padding-left: 15px;
                    max-width: 100vw;
                }
            }
        }
    }


}

@media screen and (min-width: 425px) {

    /*-----transcriptions mediaScreen-----*/

    .letterSearch{
        width: 8%;
        padding: 11px 2%;
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription{
        width: 33%;
    }
    .favoriContainer{
        width: 33%;
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription{
        width: 33%;
    }

    /*-----news mediaScreen-----*/

    .changeHide{
        margin-top: 40px;
        display: block;
    }
    .buttonTraining{
        display: none;
    }
    .mainTrainings .sectionTrainings .secondaryTitleContainer .secondaryTitle{
        font-size: 30px;
    }
    .mainTrainings article .userTrainingLink .trainingTitle h3{
        font-size: 25px;
        line-height: 230%;
    }
    .mainTrainings article .userTrainingLink .imgTrainingContainer {
        max-height: 60px;
        max-width: 60px;
    }
    .mainTrainings article .userTrainingLink .imgTrainingContainer img{
        width: 100px;
    }

    /*-----trainings mediaScreen-----*/

    .buttonNews{
        display: none;
    }
    .mainNews .sectionNews article{
        display: flex;
    }
    .textNewsDesk{
        padding: 20px 20px 20px 100px;
        text-align: justify;
        text-transform: capitalize;
    }

    /*-----Register mediaScreen-----*/

    .registerBody .mainRegister form div{
        margin: 15px 100px;
        font-size: 20px;
    }
    .registerBody .mainRegister form div #registration_form_agreeTerms{
        margin-right: 39%;
    }
    .registerBody .mainRegister form{
        height: 70vh;
    }

    /*-----Login mediaScreen-----*/

    .connectionBody .mainLogin .connectionForm button{
        margin-top: 40px;
    }

    /*-----Profil mediaScreen-----*/

    .mainProfil form{
        font-size: 20px;
    }

    /*-----main addNews mediaScreen-----*/

    .mainAddNews{
        form{
            margin: 50px 10% 0;
            font-size: 20px;
        }
    }

    /*-----main addTraining mediaScreen-----*/

    .mainAddTraining{
        form{
            margin: 50px 10% 0;
            font-size: 20px;
        }
    }
    .mainTrainings article p{
        padding-top: 40px;
    }

    /*-----main addCategory mediaScreen-----*/

    .mainCategory{
        form{
            margin: 50px 10% 0;
            font-size: 20px;
        }
        ul{
            padding: 0 10% 40px;
            li{
                display: flex;
                align-items: center;
                gap: 25px;
                .containerAvatarCategory{
                    border-radius: 50%;
                    max-height: 30px;
                    max-width: 30px;
                    overflow: hidden;
                    border: 1px white solid;
                    .imgAvatarCategory{
                        width: 60px;
                    }
                }
                span{
                    width: 100px;
                }
            }
        }
    }

    /*-----main addTranscription mediaScreen-----*/

    .mainAddTranscription{
        form{
            margin: 50px 10% 0;
            font-size: 20px;
        }
    }

    /*----main ModifyRoles mediaScreen-------*/
    .mainRoles{
        form{
            margin: 0 10px;
        }
        .changeHideTwo{
            display: block;
        }
    }

    /*------main video-----*/

    .pdfContainer {
        height: 460px;
        width: 100%;
    }

    .videoContainer {
        width: 100%;
        height: 166px;
        padding: 0 31%;
        margin: 0 auto -1%;
    }
}
@media screen and(min-width: 769px) {

    /*---homePage---*/

    .titleHomePage {
        font-size: 42px;
        width: 600px;
        line-height: 60px;
    }
    .secondaryTitleContainer {
        h2 {
            font-size: 31px;
            margin: 25px auto;
        }
    }
    .articleTextContainer {
        h3 {
            font-size: 25px;
        }
    }
    .mainHomePageDesk {
        padding-bottom: 2%;
    }
    .articleHomePage {
        margin-bottom: 80px;
    }
    .articleHomePage .imgLeft {
        width: 30%;
        transform: translate(-60%, 1%);
    }
    .articleHomePage .imgRight {
        width: 30%;
        transform: translate(60%, 1%);
    }
    .articleHomePage .left {
        top: 14%;
        right: 65%;
        width: 240px;
        transform: translate(0, 0);
    }
    .articleHomePage .right {
        top: 14%;
        right: 18%;
        width: 240px;
        transform: translate(0, 0);
    }
    .articleHomePage .articleTextContainer .articlehomePageButton {
        &:hover {
            border: 3px solid rgba(18, 4, 4, 0.5411764706);
            padding: 2px 5px;
            border-radius: 15px;
            background-color: white;
            color: rgba(18, 4, 4, 0.5411764706);
        }
    }
    .sectionHomePage .changeHide {
        display: none;
    }

    /*---transcriptions----*/

    .bodytranscriptions .mainTranscriptions .sectionSearch .bgTitleTranscriptions .titleTranscriptions {
        font-size: 42px;
        width: 600px;
        line-height: 60px;
        padding: 70px;
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch a {
        text-transform: uppercase;
        width: 100%;

        &:hover {
            color: #11f311;
        }
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .difficultyLinkContainer .difficultyLink span {
        &:hover {
            border: 2px solid rgba(18, 4, 4, 0.5411764706);
            background-color: white;
            color: rgba(18, 4, 4, 0.5411764706);
        }
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .favoriContainer a {
        &:hover {
            border: 2px solid rgba(18, 4, 4, 0.5411764706);
            background-color: white;
            color: black;
        }
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .letterSearch {
        position: inherit;
        flex-direction: inherit;
        background: inherit;
        margin: 20px auto;
        width: 90%;
    }
    .bodytranscriptions .mainTranscriptions {
        margin-left: 0;
        width: 100%;
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions {
        padding: 30px 100px;
    }
    .mainTranscriptions {
        font-size: 18px;
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span {
        font-size: 15px;

        &:hover {
            font-size: 20px;
        }
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .buttonTranscription a {
        font-size: 15px;

        &:hover {
            font-size: 20px;
        }
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .cellForm {
        width: 250px;
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm input {
        padding: 5px;
        border-radius: 15px;
    }
    .bodytranscriptions .mainTranscriptions .sectionSearch .searchForm .searchButton {
        padding: 4px 10px;
        background: var(--gradientBg);
        color: white;
        text-transform: capitalize;

        &:hover {
            background: var(--invertGradientBg);
        }
    }
    .bodytranscriptions .mainTranscriptions .listTranscriptions .transcriptionContainer .infoTranscription span {
        max-width: 450px;
    }

    /*-----trainings-----*/

    .mainTrainings .bgTitleTrainings {
        height: 100%;

        .titleTrainings {
            font-size: 42px;
            width: 600px;
            line-height: 60px;
            padding: 70px;
        }
    }
    .mainTrainings .sectionTrainings .secondaryTitleContainer .secondaryTitle {
        font-size: 35px;
    }
    .mainTrainings .sectionTrainings .secondaryTitleContainer p {
        font-size: 22px;
        max-width: 800px;
        margin: 0 auto;
    }
    .mainTrainings article .userTrainingLink .buttonDL {
        border: 1px solid white;
        border-radius: 12px;
        background-color: rgba(118, 131, 176, 0.72);
        padding: 2px 4px;

        &:hover {
            border: 1px solid rgb(47, 82, 192);
            background-color: white;
            color: rgb(47, 82, 192);
        }
    }
    .mainTrainings article p {
        font-size: 18px;
        max-width: 800px;
        margin: 0 auto;
    }

    /*-----news----*/

    .mainNews .bgTitleNews {
        height: 100%;

        .titleNews {
            font-size: 42px;
            width: 600px;
            line-height: 60px;
            padding: 70px;
        }
    }
    .mainNews .sectionNews .secondaryTitle {
        font-size: 35px;
    }
    .mainNews .sectionNews .descNews {
        font-size: 22px;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    .mainNews .sectionNews article {
        padding: 40px 200px;
        justify-content: space-between;
    }
    .mainNews .sectionNews article h3 {
        font-size: 25px;
    }
    .mainNews .sectionNews article p {
        font-size: 22px;
    }

    /*-----profil------*/

    .mainProfil {
        min-height: 88vh;

        form {
            font-size: 28px;

            .inputUsername {
                width: 300px;
                height: 30px;
                text-align: center;
            }

            .inputButton {
                padding: 4px 10px;
                background: var(--gradientBg);
                color: white;
                text-transform: capitalize;

                &:hover {
                    background: var(--invertGradientBg);
                }
            }
        }
    }
    .mainProfil .bgTitleProfil {
        height: 100%;

        .titleProfil {
            font-size: 42px;
            width: 600px;
            line-height: 60px;
            padding: 70px;
        }
    }
    .mainProfil .deleteContainer {
        padding: 40px;
    }
    .mainProfil article {
        margin: 0 200px;
    }
    .mainProfil .transcriptionContainer .infoTranscription{
        width: 33%;
    }
    .mainProfil .transcriptionContainer .buttonTranscription{
        width: 33%;
    }
    .mainProfil .transcriptionContainer .favoriContainer a{
        &:hover {
            border: 2px solid rgba(18, 4, 4, 0.5411764706);
            background-color: white;
            color: black;
        }
    }
    .mainProfil article .transcriptionContainer .infoTranscription span{
        font-size: 15px;
        &:hover{
            font-size: 20px;
        }
    }
    .mainProfil article .transcriptionContainer .buttonTranscription a {
        font-size: 15px;

        &:hover {
            font-size: 20px;
        }
    }

    /*------login-----*/

    .connectionBody .mainLogin {
        min-height: 88vh;
    }

    /*---modifyRole----*/

    .mainRoles{
        min-height: 88vh;
    }

    /*---addTranscription----*/

    .mainAddTranscription{
        min-height: 88vh;
    }
    .mainAddTranscription form {
        margin: 50px 25% 0;
    }

    /*----addCategory----*/

    .mainCategory form {
        margin: 50px 25% 0;
    }

    /*----addTraining-----*/

    .mainAddTraining {
        min-height: 88vh;
    }
    .mainAddTraining form {
        margin: 50px 25% 0;
    }

    /*----addNews-----*/

    .mainAddNews {
        min-height: 88vh;
    }
    .mainAddNews form {
        margin: 50px 25% 0;
    }
    .adminButtonNews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a{
            margin: 15px;
            width: 80px;
            text-align: center;
        }
    }

    /*------main video-----*/

    .mainVideo{
        flex-direction: inherit;
        display: flex;
    }

    .pdfContainer{
        width: 74%;
        margin-bottom: 14%;
        height: 600px;
    }

    .videoContainer {
        height: 480px;
        margin-bottom: 22%;
        padding: 0;
    }

    /*------footer------*/

    .footer nav{
        flex-direction: initial;
        justify-content: center;
        a, span{
            width: inherit;
            padding: 30px 0;
            font-size: 22px;
            &:hover{
                background: var(--invertGradientBg);
            }
        }
    }

    /*------header-----*/

    .header{
        .navUser, .navAdminPosition, .navAdmin, .navDesk{
            a{
                &:hover{
                    background: var(--invertGradientBg);
                }
            }
        }
    }
    .header .headerSection .navUser a{
        border-bottom: none;
        border-top: none;
        border-width: 1px;
        border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 100%;
    }
}