:root{
    --gradientBg: linear-gradient(0deg, rgba(164,176,218,1) 0%, rgba(61,76,125,1) 91%);

}

@mixin linkNav{
    color: white;
    border: 1px solid white;
    padding: 8px 17px;
    background: var(--gradientBg);
}

@mixin footerLink{
    background: var(--gradientBg);
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 8px;
}
body{
    background-color: #3e508ad4;
}
.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}


/*-----header---------*/
.headerSection{
    margin: 0 5%;
    .logoDrummer{
        width: 100px;
    }
}
.crossUser{
    .stick{
        width: 40px;
        height: 6px;
        border-radius: 2px;
        margin: 6px 0;
    }
}

.header{
    background: var(--gradientBg);
    /*position: fixed;*/
    z-index: 3;
    width: 100%;
/*-------NAV USER-------*/
    .headerSection{
        position: relative;

        .navUser{
            position: absolute;
            background: var(--gradientBg);
            bottom: -270px;
            right: -19px;
            a{
                @include linkNav;
            }
        }

        .closeUserBurger{
            padding: 2px 6px;
            margin-top: 1px;
            margin-bottom: 5px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            border-radius: 28px;
        }
    }
        .navUser{
            position: absolute;
            background-color: #3D4C7D;
            bottom: -270px;
            right: -19px;
            a{
                @include linkNav;
            }
        }
    /*---------NAV ADMIN---------*/
        .navAdmin{
            display: flex;
            flex-direction: column;
            background-color: #8692d3;
            padding-top: 5px;
            position: relative;
                .burgerAdmin{
                    position: relative;
                }
                span{
                    font-weight: bold;
                }
                .closeAdminBurger{
                    padding: 2px 6px;
                    margin-top: 1px;
                    margin-bottom: 5px;
                    background-color: transparent;
                    border: 2px solid white;
                    color: white;
                    border-radius: 28px;
                }
                a{
                    width: 100%;
                    padding-bottom: 5px;
                    color: #eeeded;
                    text-align: center;
                }
                .stick{
                    width: 30px;
                    height: 4px;
                    border-radius: 2px;
                    margin: 4px 0;
                }
                .listNavAdmin{
                    position: absolute;
                    top: 52px;
                    width: 100%;
                        li{
                            width: 100%;
                            border-top: 1px solid white;
                            border-bottom: 1px solid white;
                            padding: 5px 0;
                            text-align: center;
                            background: var(--gradientBg);
                                a{
                                    &:hover{
                                        color: black;
                                        font-weight: bold;
                                    }
                                }
                        }
                }
        }

    }

/*--------main------*/

.mainHomePage{
    padding-top: 64px;
    background-color: #3e508ad4;
}
.adminMainHomePage{
    padding-top: 115px;
    background-color: #3e508ad4;
}

/*----main homepage----*/

.bgTitleHomePage{
    background-image: url("../data/img/media/cymbales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
}
.titleHomePage{
    color: white;
    font-weight: bold;
    font-size: 23px;
    font-style: italic;
    width: 282px;
    margin: 0 auto;
    -webkit-text-stroke: 1px rgba(1, 1, 16, 0.52);
    padding: 25px;
    line-height: 30px;
}
.sectionHomePage{
}
.secondaryTitleContainer{
    padding: 30px;
}
.secondaryTitle{
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}
.separationLine{
    height: 2px;
    background-color: white;
    width: 120px;
    margin: 0 auto;
}
.articleHomePage{
    width: 100%;
    max-height: 225px;
    overflow: hidden;
    text-align: center;
    padding: 20px 0 0 0;
    position: relative;
    margin-bottom: 20px;
    .pictureArticleHomepage{
        width: 90%;
        box-shadow: 0px 0px 18px 0px white;
        opacity: 60%;
    }
    .articleTextContainer{
        position: absolute;
        top: 50%;
        right: 50%;
        width: 240px;
        transform: translate(50%, -50%);
        .articleHomePageText{
            margin: 20px 0;
        }
        .articlehomePageButton{
            border: 3px solid white;
            padding: 2px 5px;
            border-radius: 15px;
            background-color: #1204048a;
        }
    }
}


/*-------footer-----*/

.footer{
    background: var(--gradientBg);
    bottom: 0px;
    width: 100%;
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        a {
            @include footerLink;
        }

        span {
            @include footerLink;
        }
    }
}
